.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none !important;
}

#google_translate_element {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  background: transparent;

  outline: none;
  @apply w-[100px] h-[30px] text-sm mb-3 rounded border-0 border-one ;
}

#google_translate_element select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  background: transparent;

  outline: none;

  @apply w-[130px] h-auto text-sm rounded border border-gray-300 ;
}


#google_translate_element {
  transform: scale(0.8); /* Adjust scale factor as needed */
  /* transform-origin: top left;  */
  margin-bottom: 0.5rem;
}

#google_translate_element select {
  font-size: 1rem !important; /* Tailwind text-xs */
  height: 40px !important;
  padding: 2px 4px !important;
  color:#546DC5!important;
  border: .5px solid #546DC5;
}