@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --tw-shadow-color: #7ab326; replaced with Purple */
  --tw-shadow-color: #546DC5;
--one: #546DC5;       /* Buttons, headings */
  --primary: #1F1F1F;    /* Background dark */
 --accent: #546DC5;   /* Links, hover states */
}

/* Page Backgrounds */
.home {
  background-image: url("https://ismg-cdn.nyc3.cdn.digitaloceanspaces.com/blogs/zero-trusts-next-phase-agility-identity-ai-risks-image_medium-10-p-3936.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.container {
  overflow-x: hidden;
}

/* Marquee */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  gap: var(--gap);
  border: 2px dashed#546DC5;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marquee__content img {
  max-width: 2rem;
  width: 100%;
  object-fit: contain;
}

.marquee__content > * {
  flex: 0 0 auto;
  color: #ffffff;
  background:#546DC5;
  margin: 2px;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-align: center;
}

.marquee__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Partners Section */
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/partnersBg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Banner Sections */
.banner,
.about-banner,
.contact-banner,
.event-partners-banner,
.executive-panel-banner,
.orators-banner,
.register-banner,
.schedule-banner,
.abstract-banner,
.brochure-banner,
.venue-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  width: 90%;
}

/* Hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hover underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #546DC5;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation.right::after {
  transform-origin: bottom left;
}

.hover-underline-animation.right:hover::after {
  transform-origin: bottom right;
}
